*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }

body{
    margin: 0;
    background-color: rgb(246, 245, 242);
}
.contenedor{
    text-align: center;
    padding-left:   100px;
    background-color:dimgrey;

}   
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: row;
}

.TituloNav{
    list-style-type: none;
    color: honeydew;
    font-size: 20px;
}
.TituloNav a{
    color: black;
    text-decoration: none;
}

.TituloNav a:hover{
    background-color: honeydew;
    border-radius: 70%;
    
}

.card{
    display: flex;
    flex-flow: column;
    width: 33vw;
    height: auto;
    margin: 10px; /*la distancia entre los contenedores*/
    border-radius: 41px; /* le modifica el borde de las esquina*/
    overflow: hidden; /* el contenido que sobrepasa los parametros del card no se vean (existen : scroll,visible,etc)*/
    background-color:rgb(90, 91, 95);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);/* box shadow le da un sombriado*/
    cursor: default; /*hace que el cursor no cambie de forma al tocar los textox de la card*/
    transition: all 400ms ease; /* hace que el movimiento del cursor no sea tan brusco*/
}

.IMG{

    width: 100%;
    height: 60%;
    object-position: top;
}

.card:hover{
    box-shadow: 8px 8px 22px rgba(0,0,0,0.6); /* box shadow le da un sombriado*/
    transform: translatey(5%); /*hace que se mueve en el eje Y - hacia arriba  + hacia abajo*/
    /* transform: translatex(3%) hace que se mueva en el eje x + hacia la derecha - hacia la izquierda*/ 
}

.contenedor3{
    display: flex;
    flex-flow: row;

}

